# 忽略系统生成的临时文件
**/.DS_Store
**/*.swp

# 忽略构建和编译相关的文件
**/node_modules/
**/dist/
**/build/
**/videos/
**/*.exe
**/*.o
**/*.pyc


# 忽略日志文件
npm-debug.log
*.log

# 忽略脚本和其他配置文件
current_deploy.sh
**/package-lock.json
**/.project
**/.hbuilderx/

# 忽略开发工具相关的文件
.idea
.vscode
**/unpackage/
**/.vitepress/

# 忽略flutter相关
# Miscellaneous
**/*.class
**/.atom/
**/.buildlog/
**/.history
**/.svn/
**/migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/
**/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
**/android/app/debug
**/android/app/profile
**/android/app/release